<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LRLD : Home</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h3>Top secret site</h3>
      </header>
      <section>
        <nav>
          <ul>
            <h4><a href="/">Home</a></h4>
            <h4><a href="/signin">Sign In</a></h4>
            <h4><a href="/signup">Sign Up</a></h4>
          </ul>
        </nav>
      </section>
      <div class="sec2"></div>
      <footer>Thanks for visiting</footer>
    </div>
  </body>
</html>
